opencv-python-headless==4.6.0.66
scikit-image          #==0.19.3
protobuf==3.11.0
tensorflow==1.15      # (apenas para CPU)
tensorflow-gpu==1.15  # (versao com suporte a GPU)
pytest
requests
opencv-python
numpy
Cython
codecov
pytest-cov